.container h2{
    color: #8A2BE2;
}

.container p{
    color: #8A2BE2;
}

.form-label{
    color: #8A2BE2;
}


.zm-footer p{
    color: #fff;
}

.row .col-md-6 a img{
    align-items: center;
}



